<div class="card-profil">
  <div class="card-picture">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, alt: "profile photo", class: "profile-img" %>
    <% else %>
      <%= image_tag('profile-pic.jpg', alt: "profile photo", class: "profile-img") %>
    <% end %>
  </div>
  <div class="card-description p-3">
    <p>
      Bonjour
      <% if current_user.first_name.present? %>
        <%= current_user.first_name %>
      <% else %>
        <%= current_user.email %>
      <% end %>
      <% current_user.last_name %></p>
    <p> Vous avez créé <%= current_user.cocktails.ids.size %> cocktails</p>
    <div class="link">
      <%= link_to "Home", cocktails_path, class: "btn-primary" %>
    </div>
  </div>
    <div class="position-edit-favicon">
      <%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, edit_user_registration_path(current_user), id:"favicon-profile-edit" %>
    </div>
</div>

<div class="card-info">
  <div class="log-out">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"btn-primary" %>
  </div>
  <div id="alcool pt-3">
    <p>L'abus d'alcool est dangereux pour la santé, à consommer avec modération.</p>
  </div>
</div>
