<div class="container m-3 p-3">
  <h1>Welcome to the Cocktail's Page !</h1>
</div>

<div class="container m-3 p-3">

  <div class="container">
    <%= image_tag "https://res.cloudinary.com/dy1zfz0fs/image/upload/v1589550759/c6a7ww4vq252s87lialq8w108xhl.jpg", alt: "cocktail photo", width: 300, height: 400 %>

  </div>

    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card">
        <% if cocktail.photo.attached? %>
          <div class="cocktail-photo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), linear-gradient(rgba(0,0,0,0.3)), url(<%= cl_image_path(cocktail.photo.key) %>);">
        <% else %>
          <div class="cocktail-photo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), linear-gradient(rgba(0,0,0,0.3)), url(<%= asset_path("cocktail.jpg") %>);">
        <% end %>
      </div>
        <h2><%= link_to cocktail.name, cocktail %></h2>
      </div>
    <% end %>

</div>

<div class="container m-3 p-3">
  <p><%= link_to '➕ Add a new Cocktail', new_cocktail_path, class:"btn btn-small btn-secondary" %></p>
  <p>Share your favorite cocktails <i class="fab fa-twitter-square"></i></p>
</div>
