
<div class="cocktail-cover-wrapper">
  <div class="cocktail-cover">
    <div class="cocktail-cover-title">
      <h2><%= @cocktail.name %></h2>
    </div>
  </div>
</div>

<div class="cocktail-info-container">
  <div class="cocktail-photo-left">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 500, crop: :fill %>
    <% else %>
      <%= image_tag "https://source.unsplash.com/300x400/?cocktail", alt: "Un super cocktail" %>
    <% end %>
  </div>

  <div class="cocktail-info">
    <div class="cocktail-chapter-title">
      <h2>Ingredients</h2>
      <div class="cocktail-line-title"></div>
    </div>
    <div class="cocktail-ingredients">
      <% @cocktail.doses.each do |dose| %>
        <div class="quantity"><%= dose.description %></div>
        <div class="name"><%= dose.ingredient.name %></div>
        <div class="delete"><%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash destroy_dose"></i></div>
        <% end %>
      <% end %>
    </div>
    <div class="link-add-ingredient">
      <% if policy(Dose).create? %>
        <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_cocktail_dose_path(@cocktail), id:"favicon-add-link" %>
      <% end %>
    </div>
  </div>
  <div class="effect-container"></div>
</div>

  <!-- <ul class="list-group">
    <#% @cocktail.doses.each do |dose| %>
      <li class="list-group-item justify-content-center"><i class="fas fa-star"></i></li>
      <li class="list-group-item"><#%= dose.ingredient.name %></li>
      <li class="list-group-item"><#%= dose.description %></li>
      <li class="list-group-item"><#%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash destroy_dose"></i><#% end %></li>
      <#% end %>
  </ul> -->
<div class="link-arrow-back">
  <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, cocktails_path, id:"favicon-link-back" %>
</div>
